<header>
    <nav>
        <ul>
            <li>
                <a routerLink="/საწყისი" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"><span>STEP RAILWAY</span></a>
            </li>
            <li>
                <a routerLink="/რეისები" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"><span>რეისები</span></a>
            </li>
            <li>
                <a routerLink="/მგზავრთა მონაცემები" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"><span>მგზავთა მონაცემები</span></a>
            </li>
            <li>
                <a routerLink="/გადახდა" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"><span>გადახდა</span></a>
            </li>
            <li>
                <a routerLink="/ჯავშნები" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"><span>ბილეთის შემოწმება/დაბრუნება</span></a>
            </li>
        </ul>
    </nav>
</header>