@use "helper-collector" as *;


header{
    width: 100%;
    height: 100px;
    @include display-flex-align-items(center);
    position: fixed;
    top: 0px;
    z-index: 9999;
    transition: 1s;

    nav{
        max-width: 1280px;
        width: 100%;
        margin: 0px auto;
        @include display-flex-align-items(center);

        ul{
            width: 100%;
            @include display-flex-align-items(center);
            padding: 0px 30px;
            gap: 30px;
            justify-content: space-between;

            li{
                list-style-type: none;

                .home-img{
                    @include display-flex-align-items(center);
                }

                

                .about-me{
                    @include width-height-100;
                    position: relative;

                    .about-me-title{
                        width: 100%;
                        height: 56px;
                        padding: 0px 20px;
                        @include display-flex-align-items(center);
                        gap: 10px;
                        border-radius: 8px;
                        transition: 0.5s ease;
                        cursor: pointer;

                        span{
                            @include font-option(roboto, $primaryColor-4, 1.25rem, 400);
                        }

                        i{
                            font-size: 23px;
                            color: $primaryColor-5;
                            transition: 0.2s ease;
                        }

                        &:hover{
                            background-color: $backgroundColor-5;
                            border-radius: 8px;
                            transform: translateY(-5px);
                            transition: 0.5s ease;

                            span{
                                color: $primaryColor-5;
                            }

                            i{
                                color: $buttonHoverColor-1;
                                transition: 0.2s ease;
                            }
                        }
                    }

                    .burger{
                        display: none;
                        justify-content: center;
                        align-items: center;
                        width: 80px;
                        cursor: pointer;

                        i{
                            font-size: 40px;
                            color: $burgerColor;
                        }

                        &:hover{
                            i{
                                color: $burgerHoverColor;
                            }
                        }

                        &:active{
                            i{
                                color: $buttonActiveColor;
                            }
                        }
                    }

                    .about-me-dropdown{
                        @include display-flex-direction-column(start, center);
                        position: absolute;
                        top: 60px;
                        right: 0px;
                        min-width: 250px;
                        width: 100%;
                        padding: 25px;
                        background-color: $backgroundColor-1;
                        border: 1px solid $borderColor-5;
                        border-radius: 8px;
                        box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);

                        .languages-and-my-page{
                            width: 100%;
                            height: 40px;
                            display: grid;
                            grid-template-columns: repeat(5, 1fr);
                            gap: 10px;

                            .languages{
                                grid-column: 1/3;
                                width: 100%;
                                height: 40px;
                            }

                            .my-page{
                                grid-column: 3/6;
                                width: 100%;
                                height: 40px;
                                @include display-flex-all-center;
                                background-color: $buttonColor-1;
                                border: 1px solid $borderColor-5;
                                cursor: pointer;
                                text-decoration: none;
                                border-radius: 5px;
                                transition: 0.3s ease;

                                span{
                                    @include font-option(roboto, $primaryColor-1, 0.8rem, 300);
                                }

                                &:hover{
                                    transform: translateY(-5px);
                                    background-color: $buttonHoverColor-1;
                                    transition: 0.3s ease;
                                }
                            }

                            .active-link{
                                background-color: $buttonHoverColor-1;
                                transition: 0.3s ease;
                            }
                        }

                        .authentifications{
                            width: 100%;
                            display: grid;
                            grid-template-rows: 1fr;
                            gap: 10px;
                            margin: 10px 0px;
                        
                            button{
                                width: 100%;
                                height: 40px;
                                background-color: $buttonColor-1;
                                border: 1px solid $borderColor-5;
                                @include font-option(roboto, $primaryColor-1, 0.8rem, 300);
                                cursor: pointer;
                                border-radius: 5px;
                                transition: 0.3s ease;

                                &:hover{
                                    transform: translateY(-5px);
                                    background-color: $buttonHoverColor-1;
                                    transition: 0.3s ease;
                                }
                            }
                        }

                        .check-tkt{
                            width: 100%;
                            height: 40px;
                            padding: 0px 15px;
                            background-color: $buttonColor-1;
                            @include display-flex-align-items(center);
                            text-decoration: none;
                            border-radius: 5px;
                            transition: 0.3s ease;
                            text-align: center;

                            span{
                                display: block;
                                @include font-option(roboto, $buttonTextColor-1, 0.8rem, 100);
                            }

                            &:hover{
                                transform: translateY(-5px);
                                background-color: $buttonHoverColor-1;
                                transition: 0.3s ease;
                            }
                        }

                        .active-link{
                            background-color: $buttonHoverColor-1;
                            transition: 0.3s ease;
                        }
                    }
                }
            }
        }
    }
}

header.scrolled{
    background-color: $backgroundColor-1;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);;
    transition: 1s;
}

.register-popup{
    width: 100%;
    height: calc(100% - 100px);
    position: absolute;
    background-color: $popupBackgroundColor;
    z-index: 8999;
    @include display-flex-all-center;
    padding: 150px 0px 100px;

    .register-popup-card{
        max-width: 400px;
        width: 100%;
        position: relative;
        border-radius: 8px;
        background-color: $backgroundColor-1;
        overflow: hidden;

        .popup-cls{
            width: 100%;
            @include display-flex-justify-content(end);
            padding: 10px;
            border-bottom: 1px solid $borderColor-3;

            i{
                font-size: 30px;
                color: $buttonColor-1;
                transition: 0.2s ease;
                
                &:hover{
                    color: $primaryColor-4;
                    transition: 0.2s ease;
                }

                &:active{
                    color: $primaryColor-2;
                }
            }
        }

        .forms-section{
            width: 100%;
            padding:  0px 30px;
            display: grid;
            grid-template-columns: repeat(2, 100%);
            gap: 30px;
            transition: 1s;

            .form-holer{
                @include width-height-100;
                @include display-flex-direction-column(center, center);

                .sign-up-form, .sign-in-form, .email-varification-form{
                    width: 100%;

                    .sign-type{
                        width: 100%;
                        padding: 10px 0px 20px;
                        margin-top: 20px;
                        text-align: center;
                        @include font-option(roboto, $primaryColor-4, 1.5rem, 600);
                    }

                    .sign-up-form-segment{
                        width: 100%;
                        @include display-flex-direction-column(start, start);
                        margin-bottom: 5px;

                        label{
                            padding: 5px 20px;
                            @include font-option(roboto, $primaryColor-4, 1rem, 400);
                        }

                        input{
                            width: 100%;
                            padding: 5px 20px;
                            @include font-option(roboto, $primaryColor-4, 1rem, 300);
                            border: 1px solid $borderColor-6;

                            &:focus{
                                outline-color: $borderColor-4;
                            }
                        }

                        .error{
                            @include font-option(roboto, $warningColor-1, 1rem, 500);
                        }

                        .input-error{
                            border: 1px solid $warningColor-1;
                        }

                        .selection{
                            width: 100%;
                            padding: 5px 0px;
                            position: relative;
                            border: 1px solid $borderColor-6;

                            p{
                                @include width-height-100;
                                @include font-option(roboto, $primaryColor-4, 1rem, 300);
                                display: grid;
                                align-items: center;
                                padding-left: 20px;
                                cursor: pointer;
                            }

                            .select-arrow{
                                width: 30px;
                                height: 30px;
                                position: absolute;
                                top: 0px;
                                right: 10px;
                                @include display-flex-all-center;
                                cursor: pointer;
                                transition: 0.2s;

                                i{
                                    font-size: 23px;
                                    color: $buttonColor-1;
                                }
                            }

                            .active-arrow{
                                transition: 0.2s;
                                transform: rotate(180deg);
                                
                                i{
                                    color: $buttonHoverColor-1;
                                }
                            }

                            .select-dropdown{
                                width: 100%;
                                position: absolute;
                                top: 30px;
                                background-color: $backgroundColor-1;
                                border: 1px solid $borderColor-6;
                                display: none;
                                z-index: 999;

                                .gender-name{
                                    width: 100%;
                                    display: grid;
                                    align-items: center;
                                    padding: 5px 20px;
                                    cursor: pointer;

                                    span{
                                        @include font-option(roboto, $primaryColor-4, 1rem, 100);
                                    }
                                }
                            }

                            .active-dropdown{
                                display: block;
                            }

                            
                        }
                    }

                    .submit-button, .email-varification{
                        width: 100%;
                        height: 50px;
                        margin-top: 20px;
                        background-color: $buttonColor-1;
                        border: 1px solid $borderColor-6;
                        @include font-option(roboto, $buttonTextColor-1, 1.2rem, 100);
                        cursor: pointer;
                        transition: 0.5s;

                        &:hover{
                            background-color: $buttonHoverColor-1;
                            transform: translateY(-5px);
                            transition: 0.3s;
                        }
                    }

                    .submit-button:disabled{
                        cursor: not-allowed;
                        background-color: $backgroundColor-5;
                        transition: 0.5s;
                    }
                }

                .go-to-sign-in, .go-to-sign-up{
                    width: 100%;
                    @include display-flex-direction-column(start, center);
                    padding: 30px 0px;
                    gap: 20px;

                    p{
                        @include font-option(roboto, $primaryColor-4, 1.5rem, 600);
                    }

                    button{
                        width: 100%;
                        height: 50px;
                        margin-top: 10px;
                        background-color: $buttonColor-1;
                        border: 1px solid $borderColor-6;
                        @include font-option(roboto, $buttonTextColor-1, 1.2rem, 100);
                        cursor: pointer;
                        transition: 0.5s;

                        &:hover{
                            background-color: $buttonHoverColor-1;
                            transform: translateY(-5px);
                            transition: 0.3s;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    header{
        nav{
            ul{
                li{
                    .about-me{
                        .about-me-title{
                            display: none;
                        }

                        .burger{
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 499px) {
    header{
        nav{
            ul{
                li{
                    .home-img{
                        img{
                            width: 40vw;
                        }
                    }
                }
            }
        }
    }

    .register-popup{
        height: auto;

        .register-popup-card{
            height: 100%;
        }
    }
}