@use "helper-collector" as *;

footer{
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0px;
    padding: 0px 120px;

    p{
        max-width: 2000px;
        @include width-height-100;
        margin: 0px auto;

        span{
            @include font-option(roboto, $footerColors-1, 18px, 100);
        }
    }
}