<header class="page-title">
    <h1><span>მგზავრების მონაცემები</span></h1>
</header>

<main>
    <form class="formPersonalInfo" [formGroup]="formPersonalInfo" (ngSubmit)="onSubmit()">
        <section class="info-gathering">
            <header class="main-title">
                <h2><span>შეიყვანეთ თქვენი მონაცემები</span></h2>
            </header>
    
            <section class="each-train">
                <div class="train-info-segment-name">
                    <p>
                        <span>#{{trainInfo.number}}</span>
                        <span>{{trainInfo.name}} <span>Express</span></span>
                    </p>
                </div>
                <div class="train-info-segment-from">
                    <p>
                        <span>{{trainInfo.departure}}</span>
                        <span>{{trainInfo.from}}</span>
                    </p>
                </div>
                <div class="train-info-segment-to">
                    <p>
                        <span>{{trainInfo.arrive}}</span>
                        <span>{{trainInfo.to}}</span>
                    </p>
                </div>
            </section>
    
            <div class="dotted-line"></div>

            <header class="form-header">
                <h3><span>საკონტაქტო ინფორმაცია</span></h3>
            </header>

            <section class="contact-info-container">
                <input type="email" name="email" formControlName="email" autocomplete="off" placeholder="მეილი">
                <input type="tel" pattern="^[0-9]{9}$" inputmode="numeric" name="phoneNumber" maxlength="9" formControlName="phoneNumber" autocomplete="tel" placeholder="ტელეფონის ნომერი">
            </section>

            <div class="passenger-info-title">
                <h3><span>მგზავრების ინფორმაცია</span></h3>
            </div>

            <section class="passenger-info-container" formArrayName="people">
                @for(passenger of people.controls; track passenger; let i = $index){
                    <div class="passenger-info" [formGroupName]="i">
                        <p class="passenger-count"><span>მგზავრი {{i + 1}}</span></p>

                        <div class="passenger-inputs">
                            <div class="passenger-place">
                                <span>ადგილი:</span>
                                <span>{{selectedSeatNumber[i]}}</span>
                            </div>

                            <input type="text" class="passenger-name" name="name" formControlName="name" autocomplete="off" placeholder="სახელი">
                            <input type="text" class="passenger-surname" name="surname" formControlName="surname" autocomplete="off" placeholder="გვარი">
                            <input type="text" class="passenger-phone" pattern="^[0-9]{11}$" maxlength="11" inputmode="numeric" name="idNumber" formControlName="idNumber" autocomplete="tel" placeholder="პირადი ნომერი">

                            <button type="button" class="passenger-seats" (click)="getTrainById(trainInfo.id); getPassengerIndex($event, i); preventClose($event)">ადგილის არჩევა</button>
                        </div>
                    </div>
                }
            </section>
        </section>
        
        <section class="invoice-section">
            <div class="invoice-container">
                <header class="invoice-title">
                    <h3><span>ინვოისი</span></h3>
                </header>
                <div class="invoice-price">
                    <p class="place-price-title">
                        <span>ადგილი</span>
                        <span>ფასი</span>
                    </p>
                    <div class="invoise-devider"></div>
                    <p class="full-amount">
                        <span>სულ:</span>
                        <span><span class="total-price">{{totalPrice}}</span> Gel</span>
                    </p>
                </div>
                
                <div class="each-price-container">
                    @for (seatPrice of selectedSeatPrice; track $index; let i = $index) {
                        @if(selectedSeatPrice[i] !== 0){
                            <p class="seat-price">
                                <span>მგზავრი {{ i + 1}}:</span>
                                <span><span class="each-price">{{selectedSeatPrice[i]}}</span> Gel</span>
                            </p>
                        }
                    }
                </div>
                
                <div class="invoice-checkbox" (click)="checkCheckbox($event)">
                    <p class="custom-checkbox"  (click)="checkCheckbox($event)" [class.checked]="invoiceCheckbox"><i class="fa-solid fa-check" [style.display]="invoiceCheckbox ? 'block' : 'none'" (click)="checkCheckbox($event)"></i></p>
                    <p class="custom-checkbox-label"  (click)="checkCheckbox($event)">წავიკითხე და ვეთანხმები წესებს</p>
                </div>

                <button type="button" class="submit-button" [disabled]="formPersonalInfo.invalid || invoiceCheckbox === false || getBothAccessToken.invalid" (click)="showPayment(); preventClose($event)">გადახდა</button>

                <!-- <div (click)="getConsole(formPersonalInfo)">click</div>   -->
            </div>
        </section>

        <section class="popup-container" [style.display]="showPaymentPopup? 'flex' : 'none'">
            <section class="popup-card">
                <div class="popup-cls">
                    <i class="fa-solid fa-circle-xmark" (click)="closePopup()"></i>
                </div>

                <section class="get-payment-container">
                    <form class="payment-form" [formGroup]="paymentForm">
                        <div class="card-number">
                            <label for="cardNumber">ბარათის ნომერი</label>
                            <input id="cardNumber" type="text" formControlName="cardNumber" placeholder="1234 5678 9012 3456" maxlength="19" (input)="formatCardNumber($event)" autocomplete="off" [class.input-error]="paymentForm.get('cardNumber')?.touched && paymentForm.get('cardNumber')?.invalid">
                            @if (paymentForm.get('cardNumber')?.touched && paymentForm.get('cardNumber')?.invalid) {
                                <div class="error">ბარათის ნომერი აუცილებელია რომ იყოს 16 ციფრი.</div>
                            }
                        </div>

                        <div class="card-holder">
                            <label for="">მფლობელი</label>
                            <input type="text" formControlName="cardHolder" placeholder="ჯონ დოუ" autocomplete="name" pattern="^[a-zA-Z\s' ]+$" (input)="formatCustomerName($event)" [class.input-error]="paymentForm.get('cardHolder')?.touched && paymentForm.get('cardHolder')?.invalid">
                            @if (paymentForm.get('cardHolder')?.touched && paymentForm.get('cardHolder')?.invalid) {
                                <div class="error">შეიყვანეთ სწორი სახელი.</div>
                            }
                        </div>

                        <div class="card-date">
                            <label for="expiryDate">ვადა</label>
                            <input id="expiryDate" type="text" formControlName="expiryDate" placeholder="MM/YY" maxlength="5" autocomplete="off" [class.input-error]="paymentForm.get('expiryDate')?.touched && paymentForm.get('expiryDate')?.errors">
                            @if (paymentForm.get('expiryDate')?.touched && paymentForm.get('expiryDate')?.errors) {
                                <div class="error">
                                    @if (paymentForm.get('expiryDate')?.errors?.['required']) {
                                        ბარათის ვადა აუცილებელია.
                                    }
                                    @if (paymentForm.get('expiryDate')?.errors?.['invalidFormat']) {
                                        არასწორი ფორმა, გამოიყენე MM/YY.
                                    }
                                    @if (paymentForm.get('expiryDate')?.errors?.['expired']) {
                                        ბარათი ვადაგასულია.
                                    }
                                    @if (paymentForm.get('expiryDate')?.errors?.['tooFar']) {
                                        ბარათის ვადა არარეალურად შორსაა.
                                    }
                                </div>
                            }
                        </div>

                        <div class="card-pin">
                            <label for="cvv">CVV</label>
                            <input id="cvv" type="text" formControlName="cvv" placeholder="123" autocomplete="off" maxlength="4" [class.input-error]="paymentForm.get('cvv')?.touched && paymentForm.get('cvv')?.invalid">
                            @if (paymentForm.get('cvv')?.touched && paymentForm.get('cvv')?.invalid) {
                                <div class="error">CVV აუცილებელია რომ იყოს 3 ან 4 ციფრი.</div>
                            }
                        </div>

                        <!-- <button type="button" (click)="getConsolePay(paymentForm)">console</button> -->
                    </form>

                    <button type="submit" class="submit-button" [disabled]="paymentForm.invalid">დაჯავშნა</button>
                </section>
            </section>
        </section>

        <section class="popup-container" [style.display]="showPopup? 'flex' : 'none'">
            <section class="popup-card">
                <div class="popup-cls">
                    <i class="fa-solid fa-circle-xmark"  (click)="closePopup()"></i>
                </div>
                
                <section class="get-seats-container">
                    @if(showPopup === true){
                        <div class="vagon-container">
                            @for (vagon of vagonImages; track $index; let i = $index) {
                                <div class="wagon-img-name">
                                    @if(trainById){
                                        <img [src]="vagon" [alt]="trainById.vagons[i].name" (click)="getWagonById(trainById.vagons[i].id)">
                                        <div class="vagon-name-holder" (click)="getWagonById(trainById.vagons[i].id)">
                                            <span>{{trainById.vagons[i].name}}</span>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                        <div class="wagon-name">
                            <p>აირჩიე ვაგონი: {{wagonName}}</p>
                        </div>
                        <div class="seat-container">
                            @if(wagonById){
                                <div class="vagon-start">
                                    <p><span>საპირფარეშო</span></p>
                                </div>
                                @for (seat of sortedWagonSeats; track $index; let i = $index) {
                                    <button class="select-seat" type="button" (click)="sendSeatInfo(seat.number)" [disabled]="isSeatTaken(seat.number, seat.vagonId)" [class.active]="seat.number === selectedSeatNumber[selectedPassengerIndex] && seat.vagonId === selectedSeatVagonId[selectedPassengerIndex]">{{seat.number}}</button>
                                }
                                <div class="seat-space"></div>
                                <div class="vagon-end">
                                    <p><span>საპირფარეშო</span></p>
                                </div>
                            }
                        </div>
                    }
                </section>
            </section>
        </section>
    </form>
</main>

