<header class="page-title">
    <h1><span>მგზავრების მონაცემები</span></h1>
</header>

<main>
    <form class="formPersonalInfo" [formGroup]="formPersonalInfo" (ngSubmit)="sendTKTInfo()">
        <section class="info-gathering">
            <header class="main-title">
                <h2><span>შეიყვანეთ თქვენი მონაცემები</span></h2>
            </header>
    
            <section class="each-train">
                <div class="train-info-segment">
                    <p>
                        <span>#{{trainInfo.number}}</span>
                        <span>{{trainInfo.name}} <span>Express</span></span>
                    </p>
                </div>
                <div class="train-info-segment">
                    <p>
                        <span>{{trainInfo.departure}}</span>
                        <span>{{trainInfo.from}}</span>
                    </p>
                </div>
                <div class="train-info-segment">
                    <p>
                        <span>{{trainInfo.arrive}}</span>
                        <span>{{trainInfo.to}}</span>
                    </p>
                </div>
            </section>
    
            <div class="dotted-line"></div>

            <header class="form-header">
                <h3><span>საკონტაქტო ინფორმაცია</span></h3>
            </header>

            <section class="contact-info-container">
                <input type="email" name="email" formControlName="email" autocomplete="off" placeholder="მეილი">
                <input type="number" name="phoneNumber" formControlName="phoneNumber" autocomplete="off" placeholder="ტელეფონის ნომერი">
            </section>

            <div class="passenger-info-title">
                <h3><span>მგზავრების ინფორმაცია</span></h3>
            </div>

            <section class="passenger-info-container" formArrayName="people">
                @for(passenger of people.controls; track passenger; let i = $index){
                    <div class="passenger-info" [formGroupName]="i">
                        <p class="passenger-count"><span>მგზავრი {{i + 1}}</span></p>

                        <div class="passenger-inputs">
                            <div class="passenger-place">
                                <span>ადგილი:</span>
                                <span>ჩასვი</span>
                            </div>

                            <input type="text" name="name" formControlName="name" autocomplete="off" placeholder="სახელი">
                            <input type="text" name="surname" formControlName="surname" autocomplete="off" placeholder="გვარი">
                            <input type="number" name="idNumber" formControlName="idNumber" autocomplete="off" placeholder="პირადი ნომერი">

                            <button (click)="getTrainById(trainInfo.id)">ადგილის არჩევა</button>
                        </div>
                    </div>
                }
            </section>
        </section>
        
        <section class="invoice-section">
            <div class="invoice-container">
                <header class="invoice-title">
                    <h3><span>ინვოისი</span></h3>
                </header>
                <div class="invoice-price">
                    <p class="place-price-title">
                        <span>ადგილი</span>
                        <span>ფასი</span>
                    </p>
                    <div class="invoise-devider"></div>
                    <p class="full-amount">
                        <span>სულ:</span>
                        <span>{{calculateFullPrice()}}</span>
                    </p>
                </div>

                <div (click)="console(formPersonalInfo)">click</div>
            </div>
        </section>

        <section class="popup-container" [style.display]="showPopup? 'flex' : 'none'">
            <section class="popup-card">
                <div class="popup-cls" (click)="closePopup()">
                    <i class="fa-solid fa-circle-xmark"></i>
                </div>
                
                <section class="get-seats-container">
                    @if(showPopup === true){
                        <div class="vagon-container">
                            @for (vagon of vagonImages; track $index; let i = $index) {
                                <div class="wagon-img-name">
                                    @if(trainById){
                                        <img [src]="vagon" [alt]="" (click)="getWagonById(trainById.vagons[i].id)">
                                        <div class="vagon-name-holder">
                                            <span>{{trainById.vagons[i].name}}</span>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                        <div class="seat-container">
                            @if(wagonById){
                                @for (seat of wagonSeats; track $index; let i = $index) {
                                    <button type="button" (click)="sendSeatInfo(seat)">{{seat.number}}</button>
                                    
                                }
                            }
                        </div>
                }
                </section>
            </section>
        </section>
    </form>
</main>

