@use "helper-collector" as *;

.page-title{
    width: 100%;
    height: 270px;
    @include display-flex-justify-content(center);
    margin-bottom: 50px;
    background-color: $backgroundColor-3;

    h1{
        max-width: 1280px;
        @include width-height-100;
        padding-top: 100px;
        
        span{
            font-family: roboto;
            color: $primaryColor-1;
        }
    }
}

main{
    max-width: 1280px;
    @include width-height-100;
    margin: 0px auto 100px;

    .formPersonalInfo{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
        width: 100%;
        

        .info-gathering{
            width: 100%;
            grid-column: 1/4;
            padding: 40px;
            border: none;
            border-radius: 10px;
            box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);

            .main-title{
                width: 100%;
                height: 50px;
                @include display-flex-align-items(center);
                margin-bottom: 15px;
        
                h2{
                    color: $primaryColor-4;
                    font-size: 25px;
                    font-weight: 200;
                }
            }
    
            .each-train{
                width: 100%;
                height: 130px;
                display: grid;
                grid-template-columns: 40% 30% 30%;
                margin-bottom: 30px;
                background-color: $backgroundColor-4;
    
                .train-info-segment{
                    @include width-height-100;
                    @include display-flex-align-items(center);
    
                    p{
                        width: 100%;
                        padding: 25px;
                        @include display-flex-direction-column(center, start);
                        gap: 10px;
                        border-right: 1px dashed $borderColor-3;
    
                        span{
                            font-size: 18px;
                            color: $primaryColor-4;
                            font-family: roboto;
                        }
                    }
                }
    
                .train-batton-segment{
                    @include width-height-100;
                    @include display-flex-all-center;
    
                    button{
                        width: 65%;
                        height: 50px;
                        background-color: $buttonColor-1;
                        border: none;
                        border-radius: 8px;
                        font-size: 20px;
                        color: $primaryColor-1;
                        font-weight: 200;
                        cursor: pointer;
                        transition: 0.3s ease;
    
                        &:hover{
                            transition: 0.3s ease;
                            background-color: $buttonHoverColor-1;
                        }
                    }
                }
            }
    
            .dotted-line{
                width: 100%;
                height: 2px;
                margin-bottom: 40px;
                border: 1px solid transparent;
                border-image: repeating-linear-gradient(
                to right,
                $borderColor-3 0,
                $borderColor-3 10px,
                transparent 10px,
                transparent 20px
                );
                border-image-slice: 1;
            }

            .form-header{
                width: 100%;
                height: 50px;
                @include display-flex-align-items(center);
                margin-bottom: 15px;
        
                h3{
                    color: $primaryColor-4;
                    font-size: 25px;
                    font-weight: 200;
                }
            }

            .contact-info-container{
                width: 100%;
                height: 50px;
                margin-bottom: 40px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;

                input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
                }

                input{
                    @include width-height-100;
                    padding: 10px 20px;
                    border: 1px solid $borderColor-3;
                    font-size: 18px;
                    outline: none;
                }
            }

            .passenger-info-title{
                width: 100%;
                height: 50px;
                @include display-flex-align-items(center);
                margin-bottom: 25px;
        
                h3{
                    color: $primaryColor-4;
                    font-size: 25px;
                    font-weight: 200;
                }
            }

            .passenger-info-container{
                width: 100%;

                .passenger-info{
                    width: 100%;
                    margin-bottom: 20px;

                    .passenger-count{
                        min-height: 50px;
                        @include display-flex-align-items(center);

                        span{
                            font-size: 20px;
                            font-family: roboto;
                        }
                    }

                    .passenger-inputs{
                        width: 100%;
                        height: 50px;
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        gap: 15px;

                        .passenger-place{
                            @include width-height-100;
                            @include display-flex-direction-column(center, center);
                            background-color: $backgroundColor-3;
                            border: none;

                            span{
                                font-size: 16px;
                                color: $primaryColor-1;
                                font-family: roboto;
                            }
                        }

                        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        input{
                            @include width-height-100;
                            padding: 10px 15px;
                            border: 1px solid $borderColor-3;
                            font-size: 16px;
                            outline: none;
                        }

                        button{
                            @include width-height-100;
                            padding: 0px 25px;
                            border: none;
                            background-color: $backgroundColor-3;
                            color: $primaryColor-1;
                            text-align: center;
                            font-size: 16px;
                            font-family: roboto;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .invoice-section{
            grid-column: 4/5;
            width: 100%;

            .invoice-container{
                width: 100%;
                padding: 30px;
                border: none;
                border-radius: 8px;
                background-color: $backgroundColor-4;
            }
        }

        .popup-container{
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            @include display-flex-all-center;
            background-color: $popupBackgroundColor;
            z-index: 899;
            padding: 150px 0px 100px;

            .popup-card{
                background-color: white;
                position: relative;
                border-radius: 8px;

                .popup-cls{
                    width: 100%;
                    // height: 40px;
                    @include display-flex-justify-content(end);
                    padding: 10px;
                    border-bottom: 1px solid $borderColor-3;

                    i{
                        font-size: 30px;
                        color: $buttonColor-1;
                        transition: 0.2s ease;
                        
                        &:hover{
                            color: $primaryColor-4;
                            transition: 0.2s ease;
                        }

                        &:active{
                            color: $primaryColor-2;
                        }
                    }
                }

                .get-seats-container{
                    width: 100%;
                    padding: 30px;

                    .vagon-container{
                        @include display-flex-align-items(center);
                        padding: 15px;
                        background-color: $trainBackgroundColor-1;
                        border-radius: 8px;

                        .wagon-img-name{
                            position: relative;
                            
                            img{
                                max-width: 200px;
                                width: 100%;
                                // height: 50px;
                                opacity: 0.5;
                                transition: 0.2s;
                                cursor: pointer;

                                &:hover{
                                    opacity: 1;
                                    transition: 0.2s;
                                }

                                &:hover + .vagon-name-holder{
                                    display: flex;
                                }
                            }

                            .vagon-name-holder{
                                width: 80%;
                                height: 40px;
                                display: none;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                bottom: -25px;
                                left: 50%;
                                transform: translate(-50%);
                                background-color: $trainBackgroundColor-2;
                                border-radius: 20px;

                                span{
                                    color: $primaryColor-1;
                                }
                            }
                        }
                    }

                    .wagon-name{
                        width: auto;
                        height: 40px;
                        margin: 30px 0px 10px;
                        @include display-flex-all-center;
                        background-color: $trainBackgroundColor-1;
                        border-radius: 8px;
                    }

                    .seat-container{
                        width: 100%;
                        padding: 0px 30px 0px;
                        display: grid;
                        grid-template-columns: repeat(5, 1fr);
                        grid-template-rows: repeat(12, 1fr);

                        .select-seat{
                            margin: 3px;
                        }

                        .vagon-start{
                            grid-column: 1/6;
                            grid-template-rows: 1/2;

                            p{
                                grid-column: 1/3;
                            }
                        }

                        .vagon-end{
                            grid-column: 1/6;
                            grid-template-rows: 12/13;

                            p{
                                grid-column: 4/6;
                            }
                        }

                        .vagon-start, .vagon-end{
                            width: 100%;
                            height: 40px;
                            display: grid;
                            grid-template-columns: repeat(5, 1fr);

                            p{
                                @include width-height-100;
                                @include display-flex-all-center;
                            }
                        }

                        .seat-space{
                            grid-column: 3/4;
                            grid-row: 2/12;
                            @include width-height-100;
                        }
                    }
                }
            }
        }
    }

    .invoice-container{
        grid-column: 4/5;
        width: 100%;
    }
}