@use "helper-collector" as *;

header{
    width: 100%;
    height: 300px;
    @include display-flex-justify-content(center);
    margin-bottom: 200px;
    background-color: $backgroundColor-3;

    h1{
        max-width: 1280px;
        @include width-height-100;
        padding-top: 100px;
        
        span{
            font-family: roboto;
            color: white;
        }
    }
}