<header class="page-title">
    <h1><span>{{ 'TRAINS.CHOOSETRAIN' | translate }}</span></h1>
</header>

<main>
    <header class="main-title">
        <h2><span>{{ 'TRAINS.TRAINLIST' | translate }}</span></h2>
    </header>
    <section class="train-list-header">
        <p><span>{{ 'TRAINS.TRAINNAME' | translate }}</span></p>
        <p><span>{{ 'TRAINS.DEPARTURE' | translate }}</span></p>
        <p><span>{{ 'TRAINS.ARRIVAL' | translate }}</span></p>
        <p></p>
    </section>

    <section class="train-list">
        @for(train of trains; track train){
            @if(train){
                <section class="each-train">
                    <div class="train-info-segment-name">
                        <p>
                            <span>#{{train.number}}</span>
                            <span>{{train.name}} <span>Express</span></span>
                        </p>
                    </div>
                    <div class="train-info-segment-from">
                        <p>
                            <span>{{train.departure}}</span>
                            <span>{{train.from}}</span>
                        </p>
                    </div>
                    <div class="train-info-segment-to">
                        <p>
                            <span>{{train.arrive}}</span>
                            <span>{{train.to}}</span>
                        </p>
                    </div>
                    <div class="train-batton-segment">
                        <button (click)="chosenTrainInfo(train)">{{ 'TRAINS.RESERVE' | translate }}</button>
                    </div>
                </section>
            }
        }
        <div class="no-trains" [style.display]="ifEmptyTrains? 'flex' : 'none'">
            <p>
                <i class="fa-solid fa-circle-exclamation"></i>
                <span>{{ 'TRAINS.TRAINNOTFOUND' | translate }}</span>
            </p>
        </div>
    </section>
</main>
