$primaryColor-1: rgb(214, 229, 246);

$buttonColor-1: rgb(40, 65, 191);

$buttonTextColor-1: white;
$buttonTextColor-2: black;

$buttonHoverColor-1: rgb(210, 1, 218);

$footerColors-1: rgb(89, 85, 153)