$primaryColor-1: white;
$primaryColor-2: black;
$primaryColor-3: rgb(214, 229, 246);
$primaryColor-4: rgb(63 63 63);
$primaryColor-5: rgb(40, 65, 191);

$backgroundColor-1: white;
$backgroundColor-2: black;
$backgroundColor-3: rgb(40, 65, 191);
$backgroundColor-4: rgba(213, 218, 240, 0.4);
$backgroundColor-5: rgba(63, 63, 63, 0.4);

$buttonColor-1: rgb(40, 65, 191);

$buttonTextColor-1: white;
$buttonTextColor-2: black;

$buttonHoverColor-1: rgb(210, 1, 218);

$footerColors-1: rgb(89, 85, 153);

$borderColor-1: white;
$borderColor-2: rgb(0, 0, 0, 0.5);
$borderColor-3: rgb(213, 218, 240);
$borderColor-4: rgb(40, 65, 191);
$borderColor-5: rgba(213, 218, 240, 0.4);
$borderColor-6: rgb(63 63 63);

$gradiantColor-1: rgba(117, 168, 226, 0.3);

$warningColor-1: rgb(255, 60, 0, 0.8);

$popupBackgroundColor: rgba(0, 0, 0, 0.5);

$trainBackgroundColor-1: rgb(213, 218, 240, 0.6);
$trainBackgroundColor-2: rgb(0, 0, 0, 0.8);

$passengerSeatsColor-1: rgba(0, 255, 0, 0.5);
$passengerSeatsColor-2: rgba(40, 65, 191, 0.5);
$passengerSeatsColor-3: grey;
$passengerSeatsColor-4: rgb(255, 60, 0, 0.8);

$checkboxCheckedColor-1: rgb(6, 209, 6);

$burgerColor: rgba(63, 63, 63, 0.8);
$burgerHoverColor: rgb(40, 65, 191);
$buttonActiveColor: rgb(210, 1, 218);
