
@font-face {
    font-family: railway;
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(./fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(./fonts/Roboto/Roboto-Bold.ttf);
}