<section class="payment-check-container">
    <header class="payment-succesfull">
        <h1>{{ 'TICKETCHECK.CHECKTKT' | translate }}</h1>
        <form class="check-ticket-form" [formGroup]="checkTicket">
            <div class="check-input-container">
                <input type="text" formControlName="ticketId" placeholder="{{ 'TICKETCHECK.TICKETID' | translate }}">
                @if ((checkTicket.get('ticketId')?.touched && checkTicket.get('ticketId')?.invalid)) {
                    <div class="error">{{ 'TICKETCHECK.WRONGID' | translate }}</div>
                }
            </div>
            <button class="check-button" (click)="checkMyTicketId(checkTicket.value.ticketId)">{{ 'TICKETCHECK.CHECK' | translate }}</button>
        </form>
    </header>

    <section class="ticket-sheet-container">
        @if (deleteComplited) {
            <p class="delete-complited">{{deleteComplited}}</p>
        }
        @if (ticketInfo) {
            <section class="print-and-pdf">
                <div class="printer" (click)="printTicket()">
                    <i class="fa-solid fa-print"></i>
                </div>
                <div class="download" (click)="downloadPDF()">
                    <i class="fa-solid fa-cloud-arrow-down"></i>
                </div>
            </section>
            
            <section class="ticket-sheet">
                <div class="ticket-sheet-header">
                    <h3>Step Railway</h3>
                    <img src="https://railway.stepprojects.ge/assets/img/stepLogo.jpg" alt="It Step">
                </div>
    
                <div class="ticket-id-and-date">
                    <div class="ticket-id">
                        <p>
                            <span class="property-name">{{ 'TKTCONFIRMED.TICKETID' | translate }} </span>
                            <span class="property-itself">{{ticketInfo?.id}}</span>
                        </p>
                    </div>
    
                    <!-- <div class="ticket-bought-date">
                        <p>
                            <span class="property-name">ყიდვის თარიღი: </span>
                            <span class="property-itself">{{ticketBoughtOn}}</span>
                        </p>
                    </div> -->
                </div>
    
                <div class="from-to-when">
                    <div class="info-segment-from">
                        <p>
                            <span class="property-name">{{ 'TKTCONFIRMED.DEPARTURE' | translate }}</span>
                            <span class="property-itself">
                                <span>{{ticketInfo?.train?.from}} </span>
                                <span>{{ticketInfo?.train?.departure}}</span>
                            </span>
                        </p>
                    </div>
                    <div class="info-segment-to">
                        <p>
                            <span class="property-name">{{ 'TKTCONFIRMED.ARRIVAL' | translate }}</span>
                            <span class="property-itself">
                                <span>{{ticketInfo?.train?.to}} </span>
                                <span>{{ticketInfo.train?.arrive}}</span>
                            </span>
                        </p>
                    </div>
                    <div class="info-segment-when">
                        <p>
                            <span class="property-name">{{ 'TKTCONFIRMED.DEPARTUREDATE' | translate }}</span>
                            <span class="property-itself">{{ticketInfo?.date}}</span>
                        </p>
                    </div>
                </div>

                <div class="contact-info">
                    <h4><span>{{ 'TKTCONFIRMED.CONTACTINFO' | translate }}</span></h4>
                    <div class="contact-info-container">
                        <div class="contact-email">
                            <p>
                                <span class="property-name">{{ 'TKTCONFIRMED.EMAIL' | translate }} </span>
                                <span class="property-itself">{{ticketInfo?.email}}</span>
                            </p>
                        </div>

                        <div class="contact-phone">
                            <p>
                                <span class="property-name">{{ 'TKTCONFIRMED.PHONENUMBER' | translate }} </span>
                                <span class="property-itself">{{ticketInfo?.phone}}</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="passenger-info">
                    <h4><span>მგზავრები:</span></h4>
                    <div class="passenger-info-container">
                        @for (passenger of ticketInfo.persons; track passenger; let i = $index) {
                            <div class="each-passenger">
                                <div class="passenger-name">
                                    <p>
                                        <span class="property-name">{{ 'TKTCONFIRMED.NAME' | translate }} </span>
                                        <span class="property-itself">{{ticketInfo?.persons[i]?.name}}</span>
                                    </p>
                                </div>

                                <div class="passenger-surname">
                                    <p>
                                        <span class="property-name">{{ 'TKTCONFIRMED.SURNAME' | translate }} </span>
                                        <span class="property-itself">{{ticketInfo?.persons[i]?.surname}}</span>
                                    </p>
                                </div>

                                <div class="passenger-personal-id">
                                    <p>
                                        <span class="property-name">{{ 'TKTCONFIRMED.IDNUMBER' | translate }} </span>
                                        <span class="property-itself">{{ticketInfo?.persons[i]?.idNumber}}</span>
                                    </p>
                                </div>

                                <div class="passenger-seat">
                                    <p>
                                        <span class="property-name">{{ 'TKTCONFIRMED.SEAT' | translate }} </span>
                                        <span class="property-itself">{{ticketInfo?.persons[i]?.seat?.number}}</span>
                                    </p>
                                </div>

                                <div class="passenger-vagon">
                                    <p>
                                        <span class="property-name">{{ 'TKTCONFIRMED.VAGONNUMBER' | translate }} </span>
                                        <span class="property-itself">{{ticketInfo?.persons[i]?.seat?.vagonId}}</span>
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div class="payment-info">
                    <div class="card-info">
                        <!-- <h4>ბარათის ინფორმაცია:</h4>
                        <div class="owner-info">
                            <div class="owner-name">
                                <p>
                                    <span class="property-name">მფლობელის სახელი: </span>
                                    <span class="property-itself"></span>
                                </p>
                            </div>

                            <div class="card-number">
                                <p>
                                    <span class="property-name">ბარათის ნომერი: </span>
                                    <span class="property-itself"></span>
                                </p>
                            </div>
                        </div> -->
                    </div>

                    <div class="payment-summary">
                        <div class="summary">
                            <p>
                                <span class="property-name">{{ 'TKTCONFIRMED.SUM' | translate }} </span>
                                <span class="property-itself">{{ticketInfo.ticketPrice}} {{ 'TKTCONFIRMED.GEL' | translate }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        }
    </section>

    <section class="remove-ticket-container">
        <button class="delete-ticket" (click)="deleteMyTicket(checkTicket.value.ticketId)">{{ 'TICKETCHECK.DELETE' | translate }}</button>
    </section>
</section>