
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    min-height: 100vh;
}

body{
    position: relative;
    padding: 100px 0px 70px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
