@use "helper-collector" as *;

.bg-gradiant{
    width: 100%;
    height: 500px;
    position: relative;
    top: -100px;
    padding-top: 170px;
    background: linear-gradient(89.58deg,
    $gradiantColor-1 0.34%, 
    $primaryColor-1 99.64%);

    .bg-gradiant-text{
        max-width: 1280px;
        width: 100%;
        margin: 0px auto;

        h1{
            margin-bottom: 15px;

            span{
                @include font-option(roboto, $primaryColor-2, 30px, 300);
            }
        }

        p span{
            @include font-option(roboto, $primaryColor-4, 20px, 100);
        }
    }

    form{
        max-width: 1280px;
        width: 100%;
        position: absolute;
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%);
        display: grid;
        grid-template-columns: repeat(5, 20%);
        background-color: $buttonTextColor-1;
        padding: 20px;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
        
        h2{
            grid-column: 1/7;
            margin-bottom: 30px;
            padding: 0px 10px;
            @include font-option(roboto, $primaryColor-4, 25px, 300);
        }

        .input-holder{
            @include width-height-100;
            @include display-flex-all-center;
            padding: 0px 10px;

            .selection{
                width: 100%;
                height: 50px;
                position: relative;
                border: 1px solid $borderColor-5;

                p{
                    @include width-height-100;
                    @include font-option(roboto, $primaryColor-4, 17px, 100);
                    display: grid;
                    align-items: center;
                    padding-left: 20px;
                    cursor: pointer;
                }

                .select-arrow{
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    @include display-flex-all-center;
                    cursor: pointer;
                    transition: 0.2s;

                    i{
                        font-size: 23px;
                        color: $buttonColor-1;
                    }
                }

                .active-arrow{
                    transition: 0.2s;
                    transform: rotate(180deg);
                    
                    i{
                        color: $buttonHoverColor-1;
                    }
                }

                .select-dropdown{
                    width: 100%;
                    position: absolute;
                    top: 55px;
                    background-color: $backgroundColor-1;
                    border: 1px solid $borderColor-5;
                    display: none;

                    .city-name{
                        width: 100%;
                        height: 50px;
                        display: grid;
                        align-items: center;
                        padding-left: 20px;
                        cursor: pointer;

                        span{
                            @include font-option(roboto, $primaryColor-4, 17px, 100);
                        }
                    }
                }

                .active-dropdown{
                    display: block;
                }

                
            }

            .calendar-container{
                @include width-height-100;
                position: relative;

                input{
                    @include width-height-100;
                    @include font-option(roboto, $primaryColor-4, 17px, 100);
                    padding: 0px 20px;
                    border: 1px solid $borderColor-5;
                    outline: none;
                }

                label{
                    width: 30px;
                    height: 30px;
                    @include display-flex-all-center;
                    position: absolute;
                    top: 10px;
                    right: 20px;

                    i{
                        font-size: 23px;
                        color: $buttonColor-1;
                    }
                }
            }

            .inc-dec-container{
                @include width-height-100;
                @include display-flex-align-items(center);
                gap: 5px;
                border: 1px solid $borderColor-5;
                padding: 5px;
                justify-content: space-between;

                p{
                    @include font-option(roboto, $primaryColor-4, 17px, 100);
                }

                .increment, .decrement{
                    width: 50px;
                    height: 40px;
                    border: 1px solid $borderColor-5;
                    @include display-flex-all-center;
                    cursor: pointer;
                    transition: 0.1s ease-in-out;

                    i{
                        font-size: 23px;
                        color: $buttonColor-1;
                        transition: 0.1s ease;
                    }

                    &:hover{
                        transition: 0.1s ease-in-out;
                        background-color: $backgroundColor-4;

                        i{
                            transition: 0.1s ease-in-out;
                            color: $buttonHoverColor-1;
                        }
                    }
                }
            }
        }

        .submit-button{
            width: auto;
            height: 100%;
            margin: 0px 10px;
            background-color: $buttonColor-1;
            border: 1px solid $borderColor-5;
            border-radius: 5px;
            transition: 0.3s ease-in-out;
            @include font-option(roboto, $buttonTextColor-1, 17px, 100);
            cursor: pointer;

            &:hover{
                transition: 0.3s ease-in-out;
                background-color: $buttonHoverColor-1;
            }
        }
    }
}