<section class="bg-gradiant">
    <div class="bg-gradiant-text">
        <h1><span>შეიძინეთ მატარებლის ბილეთები ონლაინ</span></h1>
        <p><span>გისურვებთ ბედნიერ მგზავრობას</span></p>
    </div>

    <form #form="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <h2><span>დაჯავშნეთ მატარებლის ბილეთი</span></h2>

        <div class="input-holder">
            <input type="hidden" name="whereFrom" [(ngModel)]="whereFrom" #whereFromModel="ngModel" required>
            <div class="selection" data-value="whereFrom" [class.invalid]="whereFromModel.invalid && whereFromModel.touched">
                <p>{{whereFrom === ""? "საიდან" : whereFrom}}</p>
                <div class="select-dropdown">
                    @for(station of myStations; track station){
                        <div (click)="startingStation(station.name); whereFromModel.control.markAsTouched()">{{station.name}}</div>
                    }
                </div>
            </div>
        </div>

        <div class="input-holder">
            <input type="hidden" name="destination" [(ngModel)]="destination" #destinationModel="ngModel" required>
            <div class="selection" data-value="destination" [class.invalid]="destinationModel.invalid && destinationModel.touched">
                <p>{{destination === ""? "საიდან" : destination}}</p>
                <div class="select-dropdown">
                    @for(station of myStations; track station){
                        <div (click)="endingStation(station.name); destinationModel.control.markAsTouched()">{{station.name}}</div>
                    }
                </div>
            </div>
        </div>
        <div class="input-holder">
            <label for="date"></label>
            <input [(ngModel)]="date" name="date" type="date" id="date" required>
        </div>
        <div class="input-holder">
            <label for="passengers"></label>
            <input [(ngModel)]="passengers" name="passengers" type="number" id="passengers" required>
        </div>

        <button type="submit" [disabled]="form.invalid">მატარებლის მოძებნა</button>
        <button type="reset" (click)="reset()">ახლიდან</button>
    </form>
</section>



